body{
    margin:0;
    padding:0;
    width: 100%;
}

/*DIV som omslutar allt*/
#admin_content{
     font-family: 'lato', sans-serif;
    text-transform: uppercase;
    background-color:#FDFDFD;
}

/*Matar ut ett användarnamn*/
h2.admin_welcome{
 text-align: center;
 padding-top: 1%;
 padding-bottom: 0.5%;
}

/*container som innehåller 3 divar*/
.flex-container{
    display: flex;
    width:100%;
    height: 350px;
    flex-wrap: wrap;
    justify-content: center;
}

/*divarna*/
.flex-container>div{
    background-color: white;
    width: 300px;
    margin: 10px;
    line-height: 30px;
    font-size: 30px;
    -moz-box-shadow:     0 0 35px #dcdcdc;
    -webkit-box-shadow:  0 0 35px #dcdcdc;
    box-shadow: 0 0 35px #dcdcdc;
    text-align: center;
}
/*INFO ? */



/*Knapp ikoner bilder*/
img.admin_icon{
    display: table;
    margin: 0 auto;
    margin-top: 37%;
    width: 17%;
    
}

/*Texten i boxarna*/

span.admin_start{
    letter-spacing: 1px;
    display: inline-block;
    margin-top: 4%;
    font-size: 17px;
}

/*välj mig knappen*/
a.choose_me{
    color: black;
    font-size: 0.5em;
    margin: 0 auto;
    margin-top: 6%;
    display: block;
    width: 80px;
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 14px;
    padding: 5px 15px 5px 15px;
    border: solid #D3D3D3 1px;
    text-decoration: none;
    letter-spacing: 2px;
    -moz-box-shadow: 0 0 35px #dcdcdc;
    -webkit-box-shadow: 0 0 35px #dcdcdc;
    box-shadow: 0 0 6px #dcdcdc;
    transition:all 0.20s linear;
}
.choose_me:hover{
    text-decoration: none;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    background-color: white;
    color: black;
}

/* Enskild hover för varje kategori */
.choose_me.green:hover {
    background-color: #8BC34A;
    color: white;
    border: none;
}

.choose_me.yellow:hover {
    background-color: #FFEB3B;
    color: white;
    border: none;
}

.choose_me.orange:hover {
    background-color: #FFC108;
    color: white;
    border: none;
}

.choose_me.red:hover {
    background-color: #FF5821;
    color: white;
    border: none;
}  

.choose_me.magenta:hover {
    background-color: #E91F63;
    color: white;
    border: none;
}

.choose_me.blue:hover {
    background-color: #2880B9;
    color: white;
    border: none;
}


