/*Admin menyn*/
*{
    font-family: 'lato', sans-serif;
    text-transform: uppercase;
    margin:0;
    padding:0;
}
ul.admin_menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: black;
    font-family: 'lato', sans-serif;
    text-transform: uppercase;
    width: auto;
    text-align: center;
    padding:30px;
}

body > header > ul > li:nth-child(1) > a > i{
    font-size: 20px;
    margin-left: 4px;
}
li.a_list {
    margin-left: auto;
    margin-right: auto;
}

li.a_list{
    display:block;
    width:135px;
}

li.a_list >a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
body > header > ul > li:nth-child(1) > a{
    display: block;
    width: 135px;
}
body > header > ul > li:nth-child(1) > a{
        margin-left: 85%;
}
body > header > ul > li:nth-child(3) > a{
        margin-left: -160%;
}

/*Hover effekt som förstorar texten*/
li.a_list > a:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}