div.forgot_pass {
	width: 60%;
	height: 400px;
	max-width: 600px;
	margin: 0 auto;
	left: 20%;
	right: 20%;
	top: 130px;
}
form.forgot_pass {
	margin: 0 auto;
	width: 50%;
	margin-top: 10%;
}

h2.forgot_pass {
	padding-top: 60px;
	font-size: 16px;
	text-align: center;
	color: #5a5752;

}

input.login {
	padding: 5px;
	text-transform: uppercase;
	border: 1px solid #AE9266;
	width: 50%;
}

#forgot_button {
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: none;
	border: 1px solid #AE9266;
	color: white;
	background-color: #AE9266;
	width: 45%;
}
