@font-face {
  font-family: 'millhouse-arrow';
  src: url('fontello_icons/arrows/font/millhouse-arrow.eot?43336856');
  src: url('fontello_icons/arrows/font/millhouse-arrow.eot?43336856#iefix') format('embedded-opentype'),
       url('fontello_icons/arrows/font/millhouse-arrow.woff2?43336856') format('woff2'),
       url('fontello_icons/arrows/font/millhouse-arrow.woff?43336856') format('woff'),
       url('fontello_icons/arrows/font/millhouse-arrow.ttf?43336856') format('truetype'),
       url('fontello_icons/arrows/font/millhouse-arrow.svg?43336856#millhouse-arrow') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Open sans', sans-serif;
}

.startpage {
    width: 100%;
    max-width: 2880px;
    height: auto;
    margin: auto;
}

/* Css för toppbild */
.startpage_bigimage {
    width: 100%;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*margin-bottom: 25px;*/
    position: relative;
    z-index: -1;
    margin-top: -100px; /* För att ta bort extra px från menyn*/
}

.topimage {
    max-width: 100%;
    max-height: 100vh;
    object-fit: cover;
}

/* Upptäck din nischdoft-button */
#create {
    margin: 0 auto;
    padding: 30px;
    background-color: transparent;
    border: 2px solid white;
    width: 30%;
    position: absolute;
    top: 50%;
    right: 0%;
    left: 0%;

    color: white;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    letter-spacing: 2px;
    font-size: 25px;
}

#create:hover {
    color: #f0bb29;
}

/* Rubrik Damdofter | Profumi Donna */
h2.damdofter {
    text-align: center;
    color: #000000;
    padding: 2%;
    margin: 0px;
}

/* Namnet på parfymerna */
h3.parfymnamn {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-top: -22%;
}

/* Priset på parfymerna */
p.price {
    color: grey;
    margin-top: -2%;
    margin-bottom: 3%;
}

.start_cat, .start_prod{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: auto;
    justify-content: center;
    margin: 0 auto;
}

/* Bilder på parfymerna */
.product_wrapper img {
    width: 100%;
    padding-right: 1%;
    border: 1px solid white;
}

.product_wrapper p, h3 {
    text-align: center;
}
.category_wrapper, .product_wrapper  {
    width: 100%;
    position: relative;
}

/* knapp för läs mer om varje parfym */
button {
    margin: 0 auto;
    padding: 20px;
    background-color: transparent;
    border: 1px solid #ffffff;
    width: 100%;
    position: relative;
    background-color: #000000;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    z-index: 1;
}

button:hover {
    border: none;
    color: white;
    border: 1px solid #ffffff;
    z-index: 1;
    background-color: grey;
    cursor: pointer;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;

}




/* Till startsidan, nästan identisk med footer - ta ej bort - provar lösningar */ 

.squares {
    width: 50%; /* Definiera storlek på dem */
}

.wrapp {
    display: flex; /* Sätter dem horisontellt */
}

.parfymwrap {
    justify-content: space-between; /* Ger jämn margin */
}

.eq2:nth-of-type(odd) {
    border-right: 1px white solid; /* Enbart för ramens skull */
    background-color: blue;
    height: 700px;
    margin-top: -5%;
    z-index: -2;
}

.eq2:nth-of-type(even) {
    border-right: 1px white solid; /* Enbart för ramens skull */
    background-color: red;
    height: 500px;

}





/* CSS för Ansök om medlemsskap hos Granza */
#ansok-granza {
    width: 100%;
    height: 480px;
    background-color: #D4A80E; 
    display: flex;
    margin-top: 2px;
}

.placement-left {
    width: 40%;
    padding-left: 15%;
    flex: 1;
}

img.orange {
    width: 600px;
    height: 781px;
    margin-top: -8%;
    position: absolute;
}

img.rockrose {
    width: 240px;
    height: 240px;
    position: absolute;
    left: 37%;
    margin-top: 5%;
}

img.junpierberry {
    width: 400px;
    height: 250px;
    position: absolute;
    left: 27%;
    margin-top: 12%;
}

.placement-right {
    width: 50%;
    color: white;
    text-align: center;
    margin-top: 10%;
    margin-right: 5%;
    flex: 0 0 60%; 
}

/* knapp */
#ansok-medlemsskap {
    margin: 0 auto;
    padding: 10px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-size: 13px;
    text-decoration: none;
    cursor: pointer;
}

#ansok-medlemsskap:hover { 
    color: black;
    background-color: white;
}


/******* CSS FÖR KATEGORIBILDERNA ************/

.category_wrapper {
    margin: 20px;
}

.start-cat-button {
    padding: 30px;
    text-align: center;
    text-decoration: none;
    position: absolute;
    color: white;
    z-index: 234;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
.start-cat-button:visited {
    color: white;
}

.category_wrapper:hover > .start-cat-button {
    display: inline-block;
    outline: 5px solid white;
}

.category_wrapper img{
    width: 100%;
    filter: grayscale(0%);
    height: 100%;
}

.category_wrapper img:hover {
     -webkit-filter: blur(2 px); /* Safari 6.0 - 9.0 */
    filter: blur(2px);
}


/******* MEDIA QUERIES FÖR SKÄRM < 950px ************/


@media all and (max-width:950px){
    
        
    #banner-title {
        font-size: 35px;
    }
    #offer-link > .banner-p {
    font-size: 16px;
}

    
}


/******* MEDIA QUERIES FÖR SKÄRM < 800px ************/


@media all and (max-width:800px){
    
    .product_wrapper:nth-child(4) {
        display: none;
    }
    
    .start_cat, .start_prod {
    flex-wrap: wrap;
}
        #offer-link > .banner-p {
    font-size: 14px;
}
}

/******* MEDIA QUERIES FÖR SKÄRM < 700px ************/


@media all and (max-width:700px){
    #banner-title {
        font-size: 28px;
    }
    #offer-link > .banner-p {
    font-size: 13px;
}

    
    
    
}

/******* MEDIA QUERIES FÖR SKÄRM < 650px ************/


@media all and (max-width:650px){
    
   .product_wrapper:nth-child(4) {
        display: inline;
    }
    
    .product_wrapper  {
    width: 50%;
    }
    
    .category_wrapper {
        width: 80%;
    }
    
    .startpage_slider {
        height: 250px;
    }

    .sliderPic {
    max-height: 250px;
    
    }
    
    #offer-link > .banner-p {
    font-size: 12px;
}
    
    

}

/******* MEDIA QUERIES FÖR SKÄRM < 580px ************/


@media all and (max-width:580px){
    
    #banner-title {
        font-size: 18px;
    }
    #offer-link > .banner-p {
        margin-top: 5px;
        font-size: 11px;
}
    .banner-p {
font-size: 13px;
}
    
    #offer-link {
    width: 65%;
}
    #newsletter-input {
    margin-top: 25px;
    margin-bottom: 10px;
}
    #newsletter-h3 {
        font-size: 23px;
}
    
}


