a:visited {
    color: #AE9266
}

.user_list_row {
    color: #5a4c36;

}

th {
    color: #5a4c36;
}

td {
    padding-top: 10px;
    border: 1px solid #5a4c36;
    text-align: center;
    min-width: 80px;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

.user_list_header {
    text-align: center;
    color: #5a4c36;
}

.edit_link {
    color: #AE9266
}

a.admin_link {
    color: white;
    text-align: center;
    display: block;
    background-color: #AE9266;
    width: 20%;
    margin: 0 auto;
    padding: 10px;
}