*   {
    font-family:'Work Sans', sans-serif;
}

/* Linjerna */
hr  {
    border: 0;
    height: 1px;
    width: 65%;
    background-color: #000000;
    margin-top: 60px;
    margin-bottom: 20px;
}

/* Rubriker */
h2.site_title {
    font-size: 1em;
    color: black;
    text-align: center;
    text-transform: uppercase;
    margin-top: 70px;
    margin-bottom: 30px;
    margin-left: -14%;
}

#your-info > h2:nth-child(18) {
    margin-left: -22%;
}

/* Titlar på formulären */
h3.form-header {
    font-size: 1em;
    color: black;
    text-align: center;
    text-transform: uppercase;
}

/* Formulär 1:a leveransadress */
#your-info {
    margin:0 auto;
    text-align: center;
}

/* Alla inputfält */
input[type="text"]{
    margin:0 auto;
    border: 1px solid #000000;
    padding: 10px;
    font-size: 10px;
    margin-bottom: 8px;
    width: 60%;
    font-size: 0.8em;
}

/* Listan för betalningsmetod */
.payment-lista > label > input {
    margin-right: 10px;
}

ul.payment-method {
    margin:0 auto;
    list-style: none;
    text-align: left;
    padding: 0;
}

/* Fraktsätt */
ul.shipping-method{
    margin:0 auto;
    list-style: none;
    text-align: left;
    padding: 0;
}

.payment-lista{
    margin-left: 33%;
    margin-bottom: 2%;
}

.shipping-lista {
    margin-left: 33%;
    margin-bottom: 2%;
}

.shipping-lista > label > input {
    margin-right: 10px;
}

/* Annan leveransadress */
#street2-hidden {
	display: none;
}

input[type=checkbox]:checked ~ #street2-hidden{
	display: block;
}

/*--VISNING AV CART--*/
tbody {
    margin:0 auto;
}

th  {
    border-bottom: black;
}

table, th, td {
    border:none;
    border-collapse: collapse;
    text-align: center;
}   

td  {
    width: 15%;
    font-size: 12px;
}

tr {
    height: 40px;
}

/* Summan i minicart */
#prod-sum {
    font-size: 12px;
}

#to-pay {
    font-size: 18px;
    float: right;
    text-align: right;
    margin-top: 20px;
}

#moms {
    font-size: 12px;
    clear: both;
    float: right;
    text-align: right;
    color: grey;
}

.checkout-img {
    width: 80px;
    height: 80px;
    margin-top: 3%;
}

/* h1 Din varukorg */
h1.shoppingbag2 {
    width: 100%;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 50px;
    font-size: 1em;
    text-transform: uppercase;
    color: #000000;   
    display: flex;
    align-items: center;
    padding-left: 7%;
    padding-right: 7%;
}

/* Omsluter hela minicart på aside */
.mini-cart{
    margin: 0 auto;
    width: 100%;
}

body > div.aside_checkout > div > a > div > i {
    margin-left: 0px;
}

/* Lägg order */
button.btn-placeorder{
    margin:0 auto;
    margin-top:8%;
    margin-bottom:5%;
	padding: 15px;
	background-color: #000000;
	border: none;
	width: 100%;
	position: relative;
	color: white;
	font-size: 1em;
	text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

button.btn-placeorder:hover {
    background-color: gray;
}

#last-hr{
    margin-top: 60px;
    margin-bottom:0;
}

hr#minicart {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Aside med mini checkout */
.aside_checkout {
    float: left;
    width: 24%;
    height: auto;
    background-color: #ffffff;
    display: inline-block;
    margin-right: 7%;
    margin-left: 2%;
    margin-top: 2.25%;
    padding: 3%;
    -moz-box-shadow: 0 0 10px #dcdcdc;
    -webkit-box-shadow: 0 0 10px #dcdcdc;
    box-shadow: 0 0 10px #dcdcdc;
}

.goback3 {
    color: black;
    text-transform: uppercase;
    font-size: 13px;
    float: right;
}


/* Mobilanpassning för iphone 6 plus */

@media only screen and (max-width: 500px) { 

    h1.shoppingbag {
        font-size: 19px;
        text-align: center;
    }

    h1:before {
        display: block;
        height: 1px;
        content: '';
        background: #D3D3D3;
        width: 14%;
        margin-right: 20px;
    }

    h1:after {
        display: block;
        height: 1px;
        content: '';
        background: #D3D3D3;
        width: 14%;
        margin-left: 20px;
    }

    input[type="text"] {
        width: 90%; 
    }

    hr {
        width: 95%;
    }

    ul.payment-method {
        margin-left: -109px; 
    }

    h2.site_title {
        margin-left: 0px;
        margin-top: 60px;
    }

    #your-info > h2:nth-child(18) {
        margin-left: 0%;
    }

    .shipping-lista {
        margin-left: 2%;
    }

    .aside_checkout {
        width: 100%;
        padding: 0%;
        padding-top: 5%;
        padding-bottom: 5%;
        margin: 0% 0% 7% 0%;
    }
}

/* Media Queries */
@media all and (max-width:1100px){
    
    #to-pay {
        margin-right: 5%;
    }

    #moms {
        margin-right:5%;
    }
}

@media all and (max-width:800px){
    
    .payment-lista {
        margin-left: 36%;
    }  
}

@media all and (max-width:515px){
    
    .checkout-wrapper {
        max-width:500px;
    }

    .payment-lista{
        margin-left: 25%;
    }
    
    td {
        font-size: 12px;
    }
    
    #prod-sum {
        font-size: 16px;
    }
}

@media all and (max-width:450px) {
    
    .payment-lista {
        margin-left: 25%;
    }

    #prod-sum {
        font-size: 13px;
    }
}