body{
    margin: 0;
    z-index: -1;
}

header {
    width: 100%;
    max-width: 1680px;
    height: 100px;
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'open sans';
    margin: 0;
    padding: 0;
}


/* Bootstrap menu */
.navbar-inverse {
background-color: black !important;
}

.navbar-nav>li>a {
    padding-top: 30px !important;
    padding-bottom: 20px !important; 
}

.navbar-right {
    margin-right: 70px !important;
}

.navbar-nav {
    margin-left: 70px !important;
}

.nav>li>a {

    padding-left: 27px !important;
}

.navbar-inverse .navbar-nav>li>a {
    color: white !important;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #f0bb29 !important;
}

a {
    color: #000000 !important; 
}

a:hover {
    text-decoration: none !important;
}

/* Logotypen */
#id_logo {
    display: inline-block;
    margin-top: 16px;
    margin-left: 320px;
}

/* User icon */
.glyphicon {
    font-size: 18px !important;
}

/* Shopping bag icon */
#shop_bag > i {
    color:white;
    position: relative;
    top: -2px;
    display: inline-block;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-size: 20px;
}

/* Antal i varukorg */
#qty-cart {
    height: 15px;
    width: 15px;
    background-color: #f0bb29;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    bottom: 5px;
    left: -10px;
}

/* Antal */
#qty {
    font-size: 0.6em;
    color: black;
    font-weight: 300;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.menu {
    width: 20%;
    height: 100%;
    background-color: #ffffff;
    opacity: 0.8;
    position: fixed;
    margin: 0;
    padding: 0;
    left: -400px;
    transition: left 0.5s;
    z-index: 3;
}

    h1#menu-button {
        text-align: center;
        font-weight: normal;
        padding-top: 80px;
        color: black;
        font-weight: 400;
        padding-top: 80%;
    }

    .menu > ul {
        text-decoration: none;
        list-style: none;
        text-align: center;
        padding-top: 20px;
        padding-left: 0;
    }

    .ulmenu > li > a {
        display: block;
        padding-bottom: 12px;
        color: black;
    }

    .ulmenu li a:hover {
       color: #c17900; 
    }

    input#nav-trigger:checked ~ nav {
        left:0;
    }
              
    #nav-trigger {
        position:absolute;
        left: -100px;
        display: none;
    }

    label[for="nav-trigger"] {
        display: inline-block;
        color: white;
        z-index: 5;
    }

    .toggle {
        font-size: 24px;
        margin-left: 35px;
        margin-top: 32px;
        position: relative;
    }

    input#nav-trigger:checked ~ .toggle {
        transition: right 0.9s;
    }

    div.menu_icons a {
        margin-right: 0;
    }

.menu_icons {
    margin: 35px;
    font-size: 20px;
    color: #ffffff
}

div.menu_icons a {
    margin-right: 0px;
    font-size: 20px;
    margin: top: 2px;

}

i.fa.fa-user {
    color: white !important;
    margin-right: 10px;

}

div.menu_icons a:last-child {
    margin-right: 0;
}


a {
    text-decoration: none;
    color: white; 
}

a:visited {
    color: white;

}

#profile::before {
    font-size: 1.2em;
    margin-top: 15px;
}

#profile {
    margin-right: 20px;
}


#profile:hover::before, #shop_bag:hover::before {
    color: #ffffff;
}







@media only screen and (max-width: 500px) { 

    .menu {
        width: 20%;
        height: 100%;
        background-color: #ffffff;
        opacity: 0.8;
        position: fixed;
        margin: 0;
        padding: 0;
        left: -400px;
        transition: left 0.5s;
        z-index: 3;
    }

    h1#menu-button {
        text-align: center;
        font-weight: normal;
        padding-top: 80px;
        color: black;
        font-weight: 400;
        padding-top: 80%;
    }

    .menu > ul {
        text-decoration: none;
        list-style: none;
        text-align: center;
        padding-top: 20px;
        padding-left: 0;
    }

    .ulmenu > li > a {
        display: block;
        padding-bottom: 12px;
        color: black;
    }

    .ulmenu li a:hover {
       color: #c17900; 
    }

    input#nav-trigger:checked ~ nav {
        left:0;
    }
              
    #nav-trigger {
        position:absolute;
        left: -100px;
        display: none;
    }

    label[for="nav-trigger"] {
        display: inline-block;
        color: white;
        z-index: 5;
    }

    .toggle {
        font-size: 24px;
        margin-left: 35px;
        margin-top: 32px;
        position: relative;
    }

    input#nav-trigger:checked ~ .toggle {
        transition: right 0.9s;
    }

    div.menu_icons a {
        margin-right: 0;
    }

    .menu_icons a:first-child {
        display: none;
    }

    div.small_banner {
        width: 100%;
        padding: 3.5%;
        font-size: 10px;
    }

    .startpage_bigimage {
        width: 100%;
        height: 100vh;
    }
    button#create {
        display: none;
    }
}



@media all and (max-width:890px){
    
    .menu {
    width: 30%;
    left: -700px;
}

    
}

@media all and (max-width:540px){
    
    .menu {
    width: 100%;
    left: -700px;
}
    
    #id_logo {
        padding-left: 60px;
    }
    
}

@media all and (max-width:405px){
    
    .menu_icons {
        margin-left: 0;
    }
    
}
@media all and (max-width:380px){

    #profile {
    margin-right: 3px;
}
    
    .menu_icons {
        margin-left: 0;
    }
    

}
    
@media all and (max-width:330px){
    
    .menu_icons{
        margin-right: 20px;
    }
    
    .toggle {
    margin-left: 20px;
}

}

@media all and (max-width:270px){
#div-qty-cart {
display: none;
}
}