.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

/* Underline för Delivery Options popup */
.button_2 {
    border-bottom: 1px solid #ffffff;
    padding-bottom: 3px
    padding-top: 5%;
}

a.button_2:hover {
    color: grey;
    border-bottom: 1px solid grey;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

/* Delivery options popup info div */
.popup {
  margin: 350px auto;
  padding: 20px;
  background: #fff;
  width: 40%;
  position: relative;
  transition: all 2.5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: 'Lato';
  text-transform: uppercase;
  letter-spacing: 2px;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: grey;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
  max-width: 100%;
}

.delivery_options {
    width: 100%;
    float: left;
}

table {
    font-family: 'Lato', sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 10%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

img.delivery_image {
    width: 80%;
    margin-top: 3%;
}






* {
	margin: 0;
	box-sizing: border-box;
}

/* Tillbaka knapp */
.goback {
    color: white;
    text-transform: uppercase;
    font-size: 13px;
}

/* fa fa icon */
div.goback > i {
    color: white;
}

/* Produktbildsdiv */
.single_img {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* Egenskaper för produktbilden */
figure {
    width: 300px;
    margin: 0 auto;
    background: #000000;
    position: relative;
}

/* Produktinfo div */
div.prod_info_wrapper {
    width: 45%;
    position: absolute;
    top: 25%;
    left: 8%;

    font-family: 'Lato';
}

/* Produkttitel från db */
.product_title {
	margin-top: 15px;
	font-size: 2em;
    letter-spacing: 1px;
    text-align: left;
    color: white;
    text-transform: uppercase;
    font-size: 30px;
}

/* Priset på produkten från db */
.product_price {
    font-size: 1.3em;
    letter-spacing: 2px;
    color: white;
    display: table;
    margin-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}

/* Detaljer om produkten från db */
.product_details {
	padding-top: 20px;
	margin-bottom: 50px;
	width: 75%;
	line-height: 1.2em;
    line-height: 1.5em;
    text-align: left;
    color: white;
}

/* Löpande brödtext om produkten från db */
.product_details {
    width: 60%;
    line-height: 1.5em;
}

form {
    margin-top: 10px;
}

/* Text antal */
label[for="cart_qty"] {
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 2%; 
    letter-spacing: 2px;
}

/* Fältet */
#cart_qty {
    width: 13%;
    display: block;
	border: 1px solid #ffffff;
    color: #ffffff;
    padding: 10px;
    margin-top: 1.5%;

    font-family: 'Lato'; 
    font-size: 1em;
    text-align: center;
    text-transform: uppercase;
}

input {
    background-color: transparent;
}

#single-prod-button {
    width: 60%;
    color: white;
    background-color: transparent;
    border: none;
    padding: 12px;
    font-size: 0.8em;
    margin-top: 18px;
    margin-bottom: 18px;
    text-transform: uppercase;
}

/* Ikoner för att dela på sociala medier */
.share-prod {
    margin-top: 3%;
    margin-bottom: 60px;
    width: 75%;
}

.share-prod #fb-font, #inst-font, #pint-font, #mail-font{
    color: #807b74;
    font-size: 1.5em;
    font-family: 'millhouse-prod-share';
    margin: 5px;
}

#fb-font::before {
    content:'\66';
}

#inst-font::before {
    content:'\69';
}

#mail-font::before {
    content:'\6d';
}

hgroup> h2 {
    padding-top: 10px;
}


/* Stor bild med doftfamiljen */


#block {
  width: 100%;
  margin: 0;
  padding-top: 10%;
  padding-bottom: 10%;
  background-color: black;
  margin-bottom: 3%;

}

#block > h1 {
  text-align: center;
  font-family: 'Lato';
  font-size: 20px;
  color: white;


  text-transform: uppercase;
  z-index: 3;
}

.scent-wheel {
  max-width: 60%;
  margin-right: auto;
  margin-left: auto;
  display: block;

}

hr {
  height: 0.2px;
}

 /******* Liknande produkter *******/

.product_upsale {
    width: 100%;
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
    
.product_wrapper_upsale {
    width: 50%;
}


.prod_img_upsale {
    width: 70%;
    margin-left:15%;
    margin-right: 15%;
    padding-top: 5%;
}

h2, h3, h4, p {
    color: #000000;
    text-decoration: none;
    text-align: center;
    font-family: 'Lato';
}

.upsale_title {
    margin-top: 2%;
    margin-bottom: 2%;
    text-transform: uppercase;
}

/****** Produktrad med bilder Upsale ******/
/* Namnet på parfymerna */
h3.perfume_name {
    color: white;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-top: -22%;
    z-index: 999999;
    text-transform: uppercase;
}

/* Priset på parfymerna */
p.price {
    color: white;
    margin-top: -2%;
    margin-bottom: 3%;
    z-index: 9999999;
}

.start_cat, .start_prod{
    display: flex;
    flex-direction: row;
    width: auto;
    max-width: 100%;
}

/* Omsluter produktraden */
.product_wrapper {
    margin: 0 auto;
    overflow: hidden;
    justify-content: space-between;
    margin-right: 0.5%;
}

/* Tar bort margin på sista bilden*/
.product_wrapper:last-child {
    margin-right: 0%;
}

/* Bilder på parfymer */
.product_wrapper img {
    max-width: 100%;
    -moz-transition: all 200ms;
    -webkit-transition: all 200ms;
    transition: all 200ms;
}

/* Knapp för lägg i varukorg */
button {
    margin: 0 auto;
    padding: 20px;
    background-color: transparent;
    width: 100%;
    position: relative;
    background: #f0bb29;


    color: white;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    z-index: 1;
    border: none;
}

button:hover {
    color: white;
    z-index: 1;
    cursor: pointer;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
}


/* Block innan footern */
.before_footer {
  width: 100%;
  height: 130px;
  background-color: #ffffff;
  margin-top: 0.5%;

}

/************* MEDIA QUERIES!!!! *********/

/******* MEDIA QUERIES FÖR SKÄRM > 600px ************/

@media (min-width: 600px) {
    
    .product_upsale {
    flex-wrap: nowrap;
    }
    
    .product_wrapper_upsale:nth-child(4) {
        display: none;
    }
    
    hgroup> h2 {
    padding-top: 50px;
}
 

/******* MEDIA QUERIES FÖR SKÄRM > 700px ************/

@media (min-width: 700px) {
    .single_img_wrapper {
        display: inline;
        width: 50%;
    }

     #single-prod-button{
        width: 40%;
        border: 1px solid #ffffff;

    }
      
}


/******* MEDIA QUERIES FÖR SKÄRM > 800px ************/
@media (min-width: 800px) {
    
    .product_wrapper_upsale:nth-child(4) {
        display: inline;
    }
    
    figure {
        width: 100%;
}
    
      
}
      
/******* MEDIA QUERIES FÖR SKÄRM > 1025px ************/
@media (min-width: 1025px) {
    
    
	.product_single {
		width: 100%;
	}

  
}
    
   