/* Allmänna inställningar */
body {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Open sans', sans-serif;
}

/* Liten gul banner under headern */
.small_banner {
    width: 105%;
    max-width: 1680px;
    background-color: #1a3b6e; /* blå 1a3b6e*/ /*krämvit #ccd1d1*/
    text-align: center;
    color: white;
    padding: 0.5%;
    font-size: 13px;
}

/* Omsluter allt innehåll */
.startpage {
    width: 100%;
    max-width: 1680px;
    height: auto;
}

.main_wrapper_startpage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    justify-content: space-between;
    margin: 0 auto;
    overflow: hidden;
    margin-right: 6%;
    margin-left: 6%;
}

/* Css för toppbild */
.startpage_bigimage {
    width: 100%;
    height: 1100px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*margin-bottom: 25px;*/
    position: relative;
    z-index: -1;
    margin-top: -15%; /* För att ta bort extra px från menyn*/
    margin-bottom: -1.5%;
}

.topimage {
    max-width: 100%;
    max-height: 1150px;
    object-fit: cover;
    display: block;
}

.topimage2 {
    display:none;
}

/* Upptäck din nischdoft-button */
div.create {
    width: 70%;
    height: 200px;
    position: absolute;
    top: 32%;
    right: 0%;
    left: 0%;

    margin: 0 auto;
    padding: 56px;
    z-index: 4;
}

.create p {
    color: white;
    text-align: center;
    letter-spacing: 2px;
    font-size: 60px;
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
}

p.est {
    font-family: 'Lato', sans-serif;
    font-size: 25px;
}

/*.create:hover {
    background: white;
    color: black;
    z-index: 999999;
    cursor: pointer;
}*/

/* Rubrik Damdofter | Profumi Donna */
h2.headline_gender {
    text-align: center;
    color: #000000;
    padding: 2%;
    margin: 0px;
    width: 100%;
    font-size: 20px;
    text-decoration: none !important;
}

/* Namnet på parfymerna */
h3.perfume_name {
    color: white;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-top: -22%;
    z-index: 999999;
    text-transform: uppercase;
}

/* Priset på parfymerna */
p.price {
    color: white;
    margin-top: -2%;
    margin-bottom: 3%;
    z-index: 9999999;
}

.start_cat, .start_prod{
    display: flex;
    flex-direction: row;
    width: auto;
    max-width: 100%;
}

/* Omsluter produktraden */
.product_wrapper {
    margin: 0;
    overflow: hidden;
    justify-content: space-between;
}

/* Tar bort margin på sista bilden*/
.product_wrapper:last-child {
    margin-right: 0%;
}

/* Bilder på parfymer */
.product_wrapper img {
    max-width: 100%;
    -moz-transition: all 200ms;
    -webkit-transition: all 200ms;
    transition: all 200ms;
}

/* Hover effekt med zoom */
.product_wrapper img:hover {
    transition: all 200ms ease-in-out;
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    z-index: 1;
}

.product_wrapper p, h3 {
    text-align: center;
}

.category_wrapper, .product_wrapper  {
    width: 100%;
    position: relative;
}

/* Knapp för lägg i varukorg */
button {
    margin: 0 auto;
    padding: 20px;
    background-color: transparent;
    width: 100%;
    position: relative;
    background: #f0bb29;


    color: white;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    z-index: 1;
    border: none;
}

button:hover {
    color: white;
    z-index: 1;
    cursor: pointer;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
}

/* Alla parfymer */
.discover_women {
    position: relative; 
}

.discover_women > .bigperfume {
    width: 100%;
    display: block;
}

.discover_women > .bigperfume2 {
    display: none;
}


p.all_women {
    position: absolute;
    top: 43%;
    left: 15%;

    color: white;
    text-transform: uppercase;
    font-size: 30px;
    font-family: lato;
    font-weight: 700;
    letter-spacing: 1px;
}

.arrow-left {
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  
  border-left: 20px solid white;
  position: absolute;
  top: 55%;
  left: 15%;
}

img.lily {
    width: 38.5%;
    position: absolute;
    top: -10%;
    left: 6%;
}

img.mint {
    width: 20%;
    position: absolute;
    top: 40%;
    left: 20%;
}

.arrow-left:hover {
      border-left: 20px solid #2A4128;
} 


/* Alla parfymer herr */
.discover_men {
    position: relative; 
}

.discover_men > .bigperfume {
    width: 100%;
    margin-bottom: 0.3%;
    display: block;
}
    .discover_men > .bigperfume2 {
        display: none;
    }

p.all_men {
    position: absolute;
    top: 44.5%;
    left: 59%;

    color: white;
    text-transform: uppercase;
    font-size: 30px;
    font-family: lato;
    font-weight: 700;
    letter-spacing: 1px;
}

.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  
  border-left: 20px solid white;
  position: absolute;
  top: 57%;
  left: 59.2%;
}

.arrow-right:hover {
      border-left: 20px solid #2A4128;
} 
/* CSS för ansök om medlemsskap hos Granza 
Uppdelad i två block, en med bildkollage och en med bara text */
#register_member {
    width: 100%;
    height: 480px;
    background-color: #D4A80E; 
    display: flex;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 0.3%;

}

.placement-left {
    width: 40%;
    padding-left: 3%;
    flex: 1;
}

.kollage1 {
    width: 200%;
    margin-top: 20%;
}

.placement-right {
    width: 50%;
    color: white;
    text-align: center;
    margin-top: 10%;
    margin-right: 21%;
    flex: 0 0 60%; 
    font-size: 25px;
}

/* knapp för att ansöka */
button#ansok {
    width: 25%;
    margin: 0 auto;
    padding: 10px;
    border: 2px solid white;
    color: white;
    font-size: 13px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 4%;
}

#ansok:hover { 
    color: black;
    background-color: white;
}


/* Kreativ ruta under herrdofter */
#philosophy {
    width: 100%;
    height: 480px;
    background-color: #000000; 
    text-align: center;
    margin-bottom: 10%;

}

#leafs {
    width: 15%;
    margin: 0 auto;
}

p.thephilosophy {
    width: 100%;
    color: white;
    font-size: 40px;
    text-align: center;
    font-family: 'Dr Sugiyama', cursive;
    font-weight: 400;
    letter-spacing: 1.5px;
    padding-top: 10%;
    margin: 0;
}

/******* CSS FÖR KATEGORIBILDERNA ************/

.category_wrapper {
    margin: 20px;
}

.start-cat-button {
    padding: 30px;
    text-align: center;
    text-decoration: none;
    position: absolute;
    color: white;
    z-index: 234;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
.start-cat-button:visited {
    color: white;
}

.category_wrapper:hover > .start-cat-button {
    display: inline-block;
    outline: 5px solid white;
}

.category_wrapper img{
    width: 100%;
    filter: grayscale(0%);
    height: 100%;
}

.category_wrapper img:hover {
     -webkit-filter: blur(2 px); /* Safari 6.0 - 9.0 */
    filter: blur(2px);
}





/* Mobilanpassning för iphone 6 plus */

@media only screen and (max-width: 500px) { 

    .topimage {
        display: none;
    }

    .topimage2 {
        display: block;
        max-height: 550px;
        margin-top: 5%;
    }

    .create p {
        display: none;
    }

    .startpage_bigimage {
        max-height: 620px;
    }

    h2.headline_gender {
        font-size: 17px;
        margin-top: -3%;
        margin-bottom: 3%;
    }

    .main_wrapper_startpage {
        flex-direction: column;
        margin-right: 0px;
        margin-left: 0px;
    }

    .product_wrapper {
        width: 100%;
    }

    .discover_women > .bigperfume {
        display: none;
    }

    .discover_women > .bigperfume2 {
        display: block;
    }

    .discover_men > .bigperfume {
        display: none;
    }

    .discover_men > .bigperfume2 {
        display: block;
    }

    p.all_women {
        background-color: white;
        padding: 10%;
        top: 47%;
        left: 9%;
        color: black; 
        font-size: 25px;
        text-align: center;
    }

    .arrow-left {
        display: none;
    }

    #register_member {
        margin-top: 2.3%;
        margin-bottom: 6%;
        height: 350px;
    }

    .placement-left {
        display: none;
    }

    .placement-right {
        width: 100%;
        color: white;
        text-align: center;
        padding: 7%;
        margin-top: 10%;
        font-size: 19px;
        margin-right: 0px;
        flex: 0 0 100%;
    }

    button#ansok {
        width: 96%;
        padding: 15px; 
        margin-top: 8%;
    }

    p.all_men {
        background-color: white;
        padding: 11%;
        top: 47%;
        left: 12%;
        color: black; 
        font-size: 25px;
        text-align: center;
    }

    .arrow-right {
        display: none;
    }

    #philosophy {
        margin-top: 2%;
        margin-bottom: 2%;
    }

    p.thephilosophy {
        font-size: 32px;
        padding: 9%;
        margin-top: 10%;
    }
}




/******* MEDIA QUERIES FÖR SKÄRM < 800px ************/


@media all and (max-width:800px){
    
    .product_wrapper:nth-child(4) {
        display: none;
    }
    
    .start_cat, .start_prod {
        flex-wrap: wrap;
    }
    
    #offer-link > .banner-p {
        font-size: 14px;
    }
}

/******* MEDIA QUERIES FÖR SKÄRM < 700px ************/


@media all and (max-width:700px){
    #banner-title {
        font-size: 28px;
    }

    #offer-link > .banner-p {
        font-size: 13px;
    }
   
    
}

/******* MEDIA QUERIES FÖR SKÄRM < 650px ************/


@media all and (max-width:650px){
    
   .product_wrapper:nth-child(4) {
        display: inline;
    }
    
    .product_wrapper  {
    width: 50%;
    }
    
    .category_wrapper {
        width: 80%;
    }
    
    .startpage_slider {
        height: 250px;
    }

    .sliderPic {
    max-height: 250px; 

}

