/*admin order- vissa modifikationer från admin_list som vi vill ha här*/

/*vit canvas*/

div#orderlist {
    width: 75%;
}

h1.all_orders {
    position: absolute;
    top: -15%;
    right: 0;
    left: 0;
    font-size: 40px;
    padding: 10px;
    text-align: center;
    color: black;
}

/*Sökfältet*/

.container-4 {
    overflow: hidden;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
    margin-bottom: 2%;
    margin-top: 2%;
}

.container-4 input#input_search_order {
    width: 100%;
    height: 50px;
    background: transparent;
    border: black 2px solid;
    font-size: 10pt;
    float: left;
    color: black;
    padding-left: 15px;
}

.container-4 input#input_search_order:focus {
    background: lightgrey;
}

.container-4 button.icon {
    border: 2px solid black;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    background: white;
    height: 48px;
    width: 49px;
    color: black;
    opacity: 0;
    font-size: 10pt;
    -webkit-transition: all .55s ease;
    -moz-transition: all .55s ease;
    -ms-transition: all .55s ease;
    -o-transition: all .55s ease;
    transition: all .55s ease;
}

.container-4:hover button.icon,
.container-4:active button.icon,
.container-4:focus button.icon {
    opacity: 1;
    margin-left: -50px;
}

.container-4:hover button.icon:hover {
    background: white;
}

#orderlist > table > tbody:nth-child(even) > tr {
    background: #e6e6e6;
}

/*status select*/

div.style_select select {
    margin-top: 3%;
    display: inline-block;
    outline: none;
    background: transparent;
    width: 75%;
    padding: 10px;
    font-size: 12px;
    line-height: 1;
    border-radius: 0;
    border: black solid 2px;
    height: 34px;
    -webkit-appearance: none;
}

/*pilen i select*/

i.fa-caret-down {
    margin-left: 60%;
    margin-top: -13%;
}

/*Uppdatera status knapp*/

button#updateStatus {
    border: none;
    background: transparent;
    padding: 5px;
    float: right;
    margin-top: -28px;
    margin-right: -3px;
}

#info-a {
    border: none;
    background: transparent;
    box-shadow: none;
    margin-top: 3%;
    text-decoration: underline;
}

#info-a:hover {
    cursor: pointer;
}

#info-a:visited {
    color: limegreen;
}
