* {
    font-family: 'lato', 'sans-serif';
}

/* Bakgrundsbild med blommor */

img.background {
    width: 100%;
    height: 600px;
    position: relative;
    z-index: -1;
}

/*vit div*/

div.canvas {
    position: absolute;
    top: 20%;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    background-color: white;
    height: 400px;
    -moz-box-shadow: 0 0 35px grey;
    -webkit-box-shadow: 0 0 35px grey;
    box-shadow: 0 0 35px grey;
}

h2 {
    font-size: 20px;
    padding: 10px;
    text-align: center;
    color: black;
}

/*Alla inputfält - fil, titel, pris*/

input {
    padding: 12px;
    border: solid 1px black;
    width: 40%;
    margin-top: 15px;
    outline: none;

}

/*Spara knapp*/

button.btn_save {
    float: right;
    color: black;
    font-size: 0.7em;
    margin: 0 auto;
    margin-top: 7%;
    display: block;
    width: 150px;
    padding: 10px;
    border: solid black 2px;
    text-decoration: none;
    letter-spacing: 2px;
    -moz-box-shadow: 0 0 35px #dcdcdc;
    -webkit-box-shadow: 0 0 35px #dcdcdc;
    box-shadow: 0 0 6px #dcdcdc;
    transition: all 0.20s linear;
}

button.btn_save:hover {
    text-decoration: none;
    background-color: white;
    color: white;
    background-color: black;
    border: none;
}

button#save_button {
    margin-right: 40%;
}
