div.change_password {
	text-align: center;
	width: 100%;
}	

h2 {
	text-align: center;
	color: #5a5752;
	font-size: 12px;
}

h2.change_password {
	color: #5a5752;
	font-size: 14px;
	text-transform: uppercase;
}
input.search_user {
	border: 1px solid #AE9266;
	padding: 5px 10px;
	width: 30%;
}
hr {
	border: 0;
    height: 3px;
    width: 100%;
    background-color: rgba(174,146, 102, 1);
    margin-bottom: 20px;
}

#save_button, #search_user_button {
	margin: 0 auto;
    padding: 5px 10px;
    background-color: #AE9266;
    width: 56px;
    color: white;
    font-size: 10px;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid #AE9266;
}


input.change_password {
	border: 1px solid #AE9266;
	padding: 10px;
	font-size: 10px;
	margin-bottom: 5px;
	text-transform: uppercase;	
	width: 80%;
}

#save_button {
	padding: 10px 10px;
	margin-top: 10px;
	width: 40%;
}


/******* MEDIA QUERIES FÖR SKÄRM > 800px ************/
@media (min-width: 800px) {
    

div.change_password {
	width: 60%;
	margin: 0 auto;
	padding-bottom: 50px;
}
	#save_button {
		padding: 10px 10px;
		width: 140px;
    
      
}

/******* MEDIA QUERIES FÖR SKÄRM > 1025px ************/
@media (min-width: 1025px) {

	div.change_password {
		width: 25%;
		margin: 0 auto;
		padding: 50px;
	}
	input.change_password {	
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;

	}
	input.search_user {	
	width: 30%;
	margin-top: 20px;
	}

	form.change_password {
		margin-top: 30px;
	}
	#save_button {
		padding: 10px 10px;
		width: 50%;
	}
	h2 {
	text-align: center;
	color: #5a5752;
	font-size: 14px;
	}
	h2.change_password {
		font-size: 22px;
	}
}







