* {
    font-family: 'lato', 'sans-serif';
}

/* Bakgrundsbild - marmor */

img.background {
    width: 100%;
    height: 820px;
    position: relative;
    z-index: -1;
}

/*Vit canvas*/

div.login {
    position: absolute;
    top: 18%;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    background-color: white;
    height: 660px;
    -moz-box-shadow: 0 0 35px grey;
    -webkit-box-shadow: 0 0 35px grey;
    box-shadow: 0 0 35px grey;
}

h3 {
    color: red;
    font-size: 12px;
}

h1.create_account_title {
    position: absolute;
    margin-bottom: 2%;
    top: -15%;
    right: 0;
    left: 0;
    font-size: 40px;
    padding: 10px;
    text-align: center;
    color: white;
}

form.create_user_form {
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
}

input {
    border: 2px solid black;
    width: 100%;
    margin: 0 auto;
    padding: 12px;
    margin-bottom: 10px;
}

[type="checkbox"] {
    display: inline;
    width: auto;
}

.list_of_users {
    font-size: 10px;
    text-align: center;
    margin: 0 auto;
    background-color: #AE9266;
    color: white;
    padding: 10px;
}


.checkbox_wrapper {
    width: 70%;
    margin: 0 auto;
}

label.newsletter_label {
    color: #5a5752;
}

button.create_account {
    color: black;
    font-size: 0.7em;
    margin: 0 auto;
    margin-top: 7%;
    display: block;
    width: 150px;
    padding: 10px;
    border: solid black 2px;
    text-decoration: none;
    letter-spacing: 2px;
    -moz-box-shadow: 0 0 35px #dcdcdc;
    -webkit-box-shadow: 0 0 35px #dcdcdc;
    box-shadow: 0 0 6px #dcdcdc;
    transition: all 0.20s linear;
}

button.create_account:hover {
    text-decoration: none;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    border: solid white 2px;
    background-color: white;
    color: white;
    background-color: black;
    border: none;
}

/******* MEDIA QUERIES FÖR SKÄRM > 1025px ************/

@media (min-width: 760px) {
    .login {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    form.create_user_form {
        width: 100%;
    }
    input {
        width: 40%;
        margin-bottom: 10px;
    }


}

@media (min-width: 1025px) {

    div.login {
        width: 70%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        height: 60%;
    }
    input {
        width: 40%;
        margin-bottom: 10px;
        padding: 12px;

    }
    form.create_user_form {
        width: 70%;
        margin-top: -4%;
    }
    h1.create_account_title {
        position: absolute;
        top: -15%;
        right: 0;
        left: 0;
        font-size: 36px;
        padding: 10px;
        text-align: center;
        color: white;
        text-transform: uppercase;
    }
    h2.create_account_h2 {
        text-align: center;
        color: #5a5752;
        font-size: 16px;

    }

    button.create_account {
        margin-bottom: 10px;
        margin-top: 10px;
        padding: 10px 15px;
        width: 20%;

    }
    a.list_of_users {
        font-size: 12px;
        padding: 10px;
        text-align: center;
        color: white;
        margin-bottom: 20px;
        width: 120px;
    }

    .button_wrapper {
        width: 90%;
        margin: 0 auto;
    }

}
